<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('includes/head') %>
</head>

<body>
    <%- include('includes/nav') %>

    <div class="row p-0 m-0">
        <div class="col-12 col-md-6 m-0 bg-secondary d-flex justify-content-center align-items-center"
            style="height: 60vh; min-height: 300px;">
            <p class="h1 text-white">IMG</p>
        </div>
        <div class="col-12 col-md-6 m-0 p-3 p-md-5 d-flex flex-column justify-content-center align-items-center">
            <a href="#" class="display-4 fw-bold link-red mb-3">
                Featured blog. Example Title
            </a>
            <p class="lead">Description, example text: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus
                officiis dolorum
                fugiat laboriosam perspiciatis! Saepe voluptate dolore …</p>
        </div>
    </div>

    <div class="py-3 px-md-4 px-lg-5" style="background-color: #e6e6e6;">
        <div class="row p-0 m-0 g-0">

            <div class="col-12 col-md-9 px-3 m-0">
                <% data.forEach(blog => { %>
                    <div class="bg-white mb-3">
                        <div class="d-flex flex-md-row flex-column">
                            <div class="text-center">
                                <img src="<%= blog.image ? blog.image : '/img/blogs/blog1.jpg' %>" height="300" width="300" style="object-fit: cover;">
                            </div>
                            <div class="p-3 p-md-5">
                                <a href="<%= `/blog/${blog.id}` %>" class="fw-bold h2 link-red"><%= blog.title %></a>
                                <p class="lead"><%= blog.description %></p>
                                <p class="blockquote-footer"><small class="text-secondary"><%= new Date(blog.date).toLocaleString("en-US",{weekday: "long",year: "numeric",month: "long",day: "numeric"}) %></small></p>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>

            <div class="col-12 col-md-3 d-flex justify-content-center">
                <%- include(`includes/sidebarBlog`) %>
            </div>
        </div>
    </div>

    <%- include('includes/footer') %>
</body>

</html>